
  <div class="container">
    <div class="progress">
      <div class="determinate" [ngStyle]="{'width':filled+'%'}"></div>
    </div>
    <div [ngSwitch]="filled">

      <app-unregisterd-basic *ngSwitchCase="0"></app-unregisterd-basic>
      <app-skill-setup *ngSwitchCase="30"></app-skill-setup>
      <app-applicant-project-setup *ngSwitchCase="60"></app-applicant-project-setup>


      <app-print-or-register *ngSwitchCase="90"></app-print-or-register>
      <app-register *ngSwitchCase="100" (onRegister)="onRegister($event)"></app-register>
    </div>
    <br>
    <button class="btn green" (click)="previous()" *ngIf="filled>0"><i class="material-icons left">arrow_back</i>PREVIOUS</button>
    <button class="btn green" (click)="next()" *ngIf="filled<90">NEXT<i class="material-icons right">arrow_forward</i></button>
    <button class="btn blue" (click)="register()" *ngIf="!userService.user&&filled==90">register</button>
  </div>

