<div class="col s12 m3 l2">
  <div class="collection">
    <a *ngFor="let menuItem of menuItems"
    [routerLink]="menuItem.routerLink"
    [routerLinkActive]="['active']"
    class="collection-item"
    title="{{menuItem.text}}">
      <i class="material-icons">{{menuItem.materialIcons}}</i>
      {{menuItem.text}}
    </a>
  </div>
</div>
