<div class="row valign-wrapper">
  <app-btn-back></app-btn-back>
  <span><strong>{{listSearchService.count}}</strong> entries found:</span>
</div>
<div *ngIf="listSearchService.isLoading" class="progress container">
  <div class="indeterminate"></div>
</div>
<table *ngIf="!listSearchService.isLoading" class="bordered highlight">
  <thead>
  <tr>
    <th>#</th>
    <th *ngFor="let column of listSearchService.listManager.tableColumns">{{column.title}}</th>
    <th *ngIf="listSearchService.listManager.actions.length > 0"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let obj of listSearchService.objects; let i = index">
    <td>
      <a class="blockAnchor" *ngIf="isClickable(obj)" [routerLink]="listSearchService.listManager.getClickLink(obj)">
        {{(listSearchService.currentPage*listSearchService.fitToPage)+i+1}}</a>
      <div *ngIf="!isClickable(obj)">{{(listSearchService.currentPage*listSearchService.fitToPage)+i+1}}</div>
    </td>
    <td *ngFor="let column of listSearchService.listManager.tableColumns">
      <a class="blockAnchor" *ngIf="isClickable(obj)"
         [routerLink]="listSearchService.listManager.getClickLink(obj)">
        {{getVal(obj, column.key)}}</a>
      <div *ngIf="!isClickable(obj)">{{getVal(obj, column.key)}}</div>
    </td>
    <td *ngIf="listSearchService.listManager.actions.length > 0">
      <a *ngFor="let action of listSearchService.listManager.actions;"
         class="btn-floating btn-small waves-effect waves-light"
         [routerLink]="listSearchService.listManager.getActionLink(action, obj)">
        <i class="small material-icons">{{action}}</i>
      </a>
    </td>
    <td *ngIf="listSearchService.listManager.hasUserApprove"><app-user-approve [user]="obj"></app-user-approve></td>
  </tr>
  </tbody>
</table>
<ul class="pagination" *ngIf="listSearchService.pages.length > 1 && !listSearchService.isLoading">
  <li [class]="disabledPage(0)">
    <a (click)="loadPage(listSearchService.currentPage-1)"><i class="material-icons">chevron_left</i></a>
  </li>
  <li *ngFor="let page of listSearchService.pages; let i = index" [class]="activePage(i)">
    <a (click)="loadPage(i)">{{page}}</a>
  </li>
  <li [class]="disabledPage(listSearchService.pages.length-1)">
    <a (click)="loadPage(listSearchService.currentPage+1)"><i class="material-icons">chevron_right</i></a>
  </li>
</ul>
