<!--<div>-->

  <div class="col s12">
    <a class="btn-flat" (click)="addSkill()">+Add a skill</a>
  </div>


  <table class="bordered">
    <tr class="row" *ngIf="listSearchService.searchService.request.skills.length > 0">
      <th class="input-field col s6">Skill</th>
      <th class="input-field col s4">Experience</th>
      <th class="input-field col s2"></th>
    </tr>
    <tr class="row" *ngFor="let obj of listSearchService.searchService.request.skills; let i = index">
      <td class="input-field col s9">
        <input class="col s6 form-control validate" type="text"
               [(ngModel)]="obj.skillName" (input)="setCurrentSkillName(i)" (change)="onChangeSkill(i)"
               [class.invalid]="skillByIndex(i) == undefined" [class.valid]="skillByIndex(i) != undefined">
        <!-- {{obj.skill.name}} -->
      </td>
      <td class="input-field col s2">
        <input placeholder=""
               type="number"
               class="validate"
               [(ngModel)]="obj.minExperience">
      </td>
      <td class="input-field col s1">
        <a class="btn-small waves-effect waves-light"
           (click)="delSkill(i)">
          <i class="small material-icons">delete</i>
        </a>
      </td>
    </tr>
  </table>
<!--
  <select
    materialize="material_select"
    class="validate"
    [(ngModel)]="obj.skillId"
  >
    <option *ngFor="let skill of skillService.dictionary | uniqueSkills: listSearchService.searchService.request.skills;"
            value={{skill.id}}>{{skill.name}}</option>
  </select>
-->
  <div class="collection-item skillList" *ngIf="currentSkillName.length > 0">
    <div class='row' >
      <div *ngFor="let skill of skillService.dictionary
                    | uniqueSkills: listSearchService.searchService.request.skills: currentSkillName
                    | orderBy: listSearchService.searchService.request.skills"
           (click)="setSkill(skill)">
        {{skill.name}}
      </div>
    </div>
  </div>
<!--</div>-->
