<div *ngIf="!editingstate">
  <div class="row">
    <div class="col s12"><b>Worked at: </b><span [ngStyle]="{'notVisibleStyle': project.company.isVisible}">{{project.company.value}}</span><br><b>
      At position: </b>{{project.title}}
    </div>
    <div class="col s12"><b> Dates: </b> <br>{{project.dates}}</div>
  </div>
  <div class="row">
  <div class="col s12"><b>Job description</b></div>
  </div>
  <div class="row">
    <div class="col s12">{{project.description}}</div>
  </div>
</div>
<app-edit-applicant-project [project]="project" *ngIf="editingstate" [i]="i"></app-edit-applicant-project>
<div *ngIf="localApplicant.isEditable">
  <!--button block-->
  <button class="btn green left" (click)="save()" *ngIf="!editingstate" [disabled]="emptyFields||localApplicant.savingState"><i class="material-icons left">create</i>edit
  </button>
  <button class="btn blue left" (click)="save()" *ngIf="editingstate" [disabled]="emptyFields||localApplicant.savingState"><i class="material-icons">save</i>save
  </button>
  <button class="btn materialize-red" (click)="delete(i)" [disabled]="localApplicant.savingState"><i class="material-icons left">delete</i> delete</button>
</div>


