<div class='collection-item' *ngIf="editState">
  <div class="row">

    <input class='col s3' id='searchFilter' type='text'
           [(ngModel)]='term' (keypress)='showSkillsList()' [disabled]='skillSetStatus'>

    <label class='col s3'>{{'years of experience'}}</label>
    <input class='col s1' type='number' min="1" [(ngModel)]='exp'>

    <div class='col s1 offset-s1'>
      <a class="btn-floating btn-small waves-effect waves-teal lighten-2" (click)="submitSkill()">
        <i class="material-icons">add</i>
      </a>
    </div>

    <div class = 'col s1 offset-s1'>
      <a class="btn-floating btn-small waves-effect waves-light red" (click)="cancelEdit()">
        <i class="material-icons">close</i>
      </a>
    </div>

  </div>
</div>

<div class="collection-item"  *ngIf='skillSet' style="overflow-y: scroll; height:200px;" >
  <div class='row manipulatable' >
    <div *ngFor="let skill of localApplicant.skillArray| searchFilter:term | orderBy;
     let ind = index" (click)="setSkill(skill, ind)">
      {{skill.name}}
    </div>
  </div>
</div>
