<div class="container section">
  <div class="container" [ngClass]="{'wait':inprogress}">
    <form class="form" [formGroup]="registerForm" novalidate>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="email" class="form-control"
          [class.invalid]="registerForm.controls['email'].invalid && (registerForm.controls['email'].value)"
          [class.valid]="!registerForm.controls['email'].invalid && (registerForm.controls['email'].value)"
          type="email" formControlName="email">
          <label for="email" data-error="wrong email" data-success="" class="">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          <input id="password" class="form-control"
                 [class.invalid]="(registerForm.controls['password'].hasError('minlength')||registerForm.controls['password'].hasError('maxlength'))&&
  (registerForm.controls['password'].value)"
                 [class.valid]="!(registerForm.controls['password'].hasError('minlength')||registerForm.controls['password'].hasError('maxlength'))&&
  (registerForm.controls['password'].value)"
                 type="password" formControlName="password">
          <label for="password" data-error="Password must have from 8 to 20 characters long" data-success="" class="">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          <input id="confPassword" class="form-control"
                 [class.invalid]="(registerForm.value.password != registerForm.value.confPassword)&&
                 (registerForm.controls['confPassword'].value)"
                 [class.valid]="(registerForm.value.password == registerForm.value.confPassword)&&
                 (registerForm.controls['confPassword'].value)"
                 type="password" formControlName="confPassword">
          <label for="confPassword" data-error="Passwords do not match" data-success="right" class="">Confirm password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">group</i>
          <select  class="form-control" formControlName="roleId"  materialize="material_select" [materializeSelectOptions]="utypes">
            <option *ngFor="let utype of utypes" [value]="utype.id">{{utype.name}}</option>
          </select>
          <label>Register as</label>
        </div>
      </div>
      <div class="row">
        <button class="waves-effect waves-light btn-large right" (click)="register()" [disabled]='registerForm.invalid || inprogress'>Register</button>
      </div>
      <div class="row"><p>{{this.textError}}</div>
    </form>
  </div>
</div>
