<h5> Applicant's work places</h5>
<ul class="collection" *ngFor="let pr of localApplicant.currentApplicant.projects;let i=index">
  <li class="collection-item">
    <app-display-applicant-project [project]='pr'
                                   (onDelete)="onDelete($event)" [i]="i"></app-display-applicant-project>
  </li>

</ul>
<button *ngIf="localApplicant.isEditable" class="btn materialize-green" (click)="addproject()"><i
  class="material-icons left">add</i> add work place
</button>

