<nav class="teal accent-4">
  <div class="nav-wrapper">
    <a data-activates="mobile-menu" class="button-collapse">
      <i class="material-icons hide-on-med-and-up">menu</i>
    </a>
    <a [routerLink]="['/']" class="brand-logo center">CV Bank</a>
    <!--Big Screens-->
    <ul class="right hide-on-small-only">
      <li *ngIf="!userService.user" [routerLinkActive]="['active']">
        <a [routerLink]="['/login']" title="Sign In">Sign In</a>
      </li>
      <li *ngIf="!userService.user" [routerLinkActive]="['active']">
        <a [routerLink]="['/register']" title="Register">Register</a>
      </li>
      <!--Authorized-->
      <li *ngIf="userService.user" [routerLinkActive]="['active']">
        <a [routerLink]="['/' + userRole[userService.user.roleId].toLowerCase() + '/dashboard']" title='Dashboard'>Dashboard</a>
      </li>
      <li>
        <a *ngIf="userService.user" [routerLink]="['/']"  (click)="this.logOut()" title='Log out'>Log out</a>
      </li>
      <!--End Authorized-->
    </ul>
    <!--End Big Screens-->
    <!--Small Screens-->
    <ul class="side-nav" id="mobile-menu">
      <li *ngIf="!userService.user" [routerLinkActive]="['active']">
        <a [routerLink]="['/login']" title="Sign In">Sign In</a>
      </li>
      <li *ngIf="!userService.user" [routerLinkActive]="['active']">
        <a [routerLink]="['/register']" title="Register">Register</a>
      </li>
      <!--Authorized-->
      <li *ngIf="userService.user" [routerLinkActive]="['active']">
        <a [routerLink]="['/' + userRole[userService.user.roleId].toLowerCase() + '/dashboard']" title='Dashboard'>Dashboard</a>
      </li>
      <li *ngIf="userService.user">
        <a [routerLink]="['/']"  (click)="this.logOut()" title='Log out'>Log out</a>
      </li>
      <!--End Authorized-->
    </ul>
    <!--End Small Screens-->
  </div>
</nav>
