<div class="row" >

  <div class="input-field col s6">

  <input type="text" class="validate"
         [(ngModel)]="language.language" name="lang">

</div>

<div class="input-field col s4">
  <select class="form-control"
          id="languagesLevel" [(ngModel)]="language.level"
          materialize="material_select" [materializeSelectOptions]="languageLevels">
    <option value="" disabled selected>proficiency</option>
    <option *ngFor="let level of languageLevels" [value]="level.id">{{level.name}}
    </option>
  </select>
</div>

<div class='col s2'>
  <a class="btn-floating btn-tiny waves-effect waves-light red mini" (click)="deleteLanguage()">
    <i class="material-icons">delete</i>
  </a>
</div>
</div>
