<div class="col s12 m4">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <p>
            <i class="medium material-icons">{{params.iconName}}</i>
            {{res}}
          </p>
          <span class="card-title">{{params.legend}}</span>
          <span class="card-title">{{params.response}}</span>
        </div>
        <div class="card-action">
          <a *ngIf="params.showLink" routerLink="/{{userRoleId}}/dashboard/{{params.id}}">Details...</a>
          <a *ngIf="!params.showLink">&nbsp;</a>
        </div>
      </div>
    </div>
  </div>
</div>
