.fixed-action-btn.horizontal{
  position: relative;
  display: inline-block;
  top: 0;
  padding: 0;
}
.fixed-action-btn.horizontal ul {
  right: 45px;
}
.fixed-action-btn.horizontal li {
  margin: 0;
}
