<div class="fixed-action-btn horizontal">
  <a class="btn-floating {{status[user.verificationStatus || profileStatus.notApproved].color}} {{isLoading()}}"
     [title]="status[user.verificationStatus || profileStatus.notApproved].title">
    <i class="tiny material-icons">{{status[user.verificationStatus || profileStatus.notApproved].icon}}</i>
  </a>
  <ul>
    <li><a class="btn-floating {{status[profileStatus.notApproved].color}}"
           (click)="changeStatus(profileStatus.notApproved)">
      <i class="material-icons">{{status[profileStatus.notApproved].icon}}</i>
    </a>
    </li>
    <li><a class="btn-floating {{status[profileStatus.partiallyApproved].color}}"
           (click)="changeStatus(profileStatus.partiallyApproved)">
      <i class="material-icons">{{status[profileStatus.partiallyApproved].icon}}</i>
    </a>
    </li>
    <li><a class="btn-floating {{status[profileStatus.approved].color}}"
           (click)="changeStatus(profileStatus.approved)">
      <i class="material-icons">{{status[profileStatus.approved].icon}}</i>
    </a>
    </li>
  </ul>
</div>
