<div class="row">
  <form class="col s6">
    <div class="row">
      <div class="col s1">
        <div *ngIf="localApplicant.currentApplicant.id!=0">
          <i *ngIf="!localApplicant.currentApplicant.firstName.hidden " class="material-icons prefix iconcursor"
             (click)="isVis(localApplicant.currentApplicant.firstName)">visibility</i>
          <i *ngIf="localApplicant.currentApplicant.firstName.hidden " class="material-icons prefix iconcursor"
             (click)="isVis(localApplicant.currentApplicant.firstName)">visibility_off</i>
        </div>

      </div>

      <div class="col s11">
        <label for="first_name">First Name</label>
        <input id="first_name" type="text" class="validate"
               [(ngModel)]="localApplicant.currentApplicant.firstName.value" name="f">
      </div>
    </div>
    <div class="row">
      <div class="col s1">
        <div *ngIf="localApplicant.currentApplicant.id!=0">
          <i *ngIf="!localApplicant.currentApplicant.lastName.hidden" class="material-icons prefix iconcursor"
             (click)="isVis(localApplicant.currentApplicant.lastName)">visibility</i>
          <i *ngIf="localApplicant.currentApplicant.lastName.hidden" class="material-icons prefix iconcursor"
             (click)="isVis(localApplicant.currentApplicant.lastName)">visibility_off</i>
        </div>

      </div>
      <div class="col s11">
        <label for="last_name">Last Name</label>
        <input id="last_name" type="text" class="validate"
               [(ngModel)]="localApplicant.currentApplicant.lastName.value" name="l">
      </div>
    </div>
    <div class="row">
      <div class="col s11 offset-s1">
        <label for="title">Title</label>
        <input id="title" type="text" class="validate"
               [(ngModel)]="localApplicant.currentApplicant.title" name="t">
      </div>
    </div>
  </form>

  <div class="col s5 offset-s1" *ngIf="localApplicant.currentApplicant.id!=0">

    <div *ngIf="!newPhoto" class="circle">
      <img src={{localApplicant.currentApplicant.imageUrl}} alt="" class="circle responsive-img">
    </div>


    <i class="material-icons small prefix iconcursor"
       (click)="addPhoto()">add_a_photo</i>
    <div *ngIf="newPhoto" class="col s10 circle">
        <app-profile-photo (photoUploaded)="newPhoto=!newPhoto"></app-profile-photo>
    </div>
  </div>

</div>


<div class="row">
  <div class="col s6">
    <div class="row">

      <div class="col s1">
        <div *ngIf="localApplicant.currentApplicant.id!=0">
          <i *ngIf="!localApplicant.currentApplicant.email.hidden" class="material-icons prefix iconcursor"
             (click)="isVis(localApplicant.currentApplicant.email)">visibility</i>
          <i *ngIf="localApplicant.currentApplicant.email.hidden" class="material-icons prefix iconcursor"
             (click)="isVis(localApplicant.currentApplicant.email)">visibility_off</i>
        </div>
      </div>
      <div class="col s11" *ngIf="localApplicant.currentApplicant.id!=0">
        <label for="email">Email</label>
        <input id="email" type="text" class="validate"
               [(ngModel)]="localApplicant.currentApplicant.email.value" name="e">
      </div>

    </div>
  </div>

  <div class="row col s6">
    <div class="col s1" *ngIf="localApplicant.currentApplicant.id!=0">
      <i *ngIf="localApplicant.currentApplicant.id!=0" class="material-icons prefix iconcursor"
         (click)="isContactEmail()" title="Make current email contact">contact_mail</i>
    </div>
    <div class="col s11">
      <label for="contemail">Contact email</label>
      <input id="contemail" type="text" class="validate"
             [(ngModel)]="localApplicant.currentApplicant.contactEmail" name="ce">
    </div>

  </div>
</div>


<div class="row">
  <div class="col s6">
    <div class="row">
      <div class="col s1" id="birtday">
        <div *ngIf="localApplicant.currentApplicant.id!=0">
          <i *ngIf="!localApplicant.currentApplicant.birthday.hidden"
             class="material-icons prefix iconcursor"
             (click)="isVis(localApplicant.currentApplicant.birthday)">visibility</i>
          <i *ngIf="localApplicant.currentApplicant.birthday.hidden"
             class="material-icons prefix iconcursor"
             (click)="isVis(localApplicant.currentApplicant.birthday)">visibility_off</i>
        </div>
      </div>
      <div class="col s11">
        <label for="birtday">Birthday</label>
        <input type="text" [ngModel]="birth_date_format" class="datep" name="datepicker"
               materialize="pickadate" [materializeParams]="[{format:'yyyy-mm-dd', selectYears: 100}]"
               (ngModelChange)="changeBirth($event)"/>
      </div>
    </div>
  </div>
  <div class="col s6">
    <div class="row">
      <div class="col s1" id="gender">
        <div *ngIf="localApplicant.currentApplicant.id!=0">
          <i *ngIf="!localApplicant.currentApplicant.gender.hidden" class="material-icons prefix iconcursor"
             (click)="isVis(localApplicant.currentApplicant.gender)">visibility</i>
          <i *ngIf="localApplicant.currentApplicant.gender.hidden" class="material-icons prefix iconcursor"
             (click)="isVis(localApplicant.currentApplicant.gender)">visibility_off</i>
        </div>
      </div>
      <div class="col s5 offset-sl">

        <p>
          <input name="gender" type="radio" id="male" [checked]="localApplicant.currentApplicant.gender.value"
                 (click)="chGender(true)"/>
          <label for="male">Male</label>
        </p>


      </div>

      <div class="col s5">
        <p>
          <input name="gender" type="radio" id="female" [checked]="!localApplicant.currentApplicant.gender.value"
                 (click)="chGender(false)"/>
          <label for="female">Female</label>
        </p>


      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col s6">
    <div class="row">
      <div class="col s1">
        <div *ngIf="localApplicant.currentApplicant.id!=0">
          <i *ngIf="!localApplicant.currentApplicant.phone.hidden" class="material-icons prefix iconcursor"
             (click)="isVis(localApplicant.currentApplicant.phone)">visibility</i>
          <i *ngIf="localApplicant.currentApplicant.phone.hidden" class="material-icons prefix iconcursor"
             (click)="isVis(localApplicant.currentApplicant.phone)">visibility_off</i>
        </div>

      </div>
      <div class="col s11">
        <label for="telephon">Telephone</label>
        <input id="telephon" type="tel" class="validate"
               [(ngModel)]="localApplicant.currentApplicant.phone.value" name="p">
      </div>
    </div>
  </div>

  <div class="col s6">
    <div class="row">
      <div class="col s1">
        <div *ngIf="localApplicant.currentApplicant.id!=0">
          <i *ngIf="!localApplicant.currentApplicant.city.hidden" class="material-icons prefix iconcursor"
             (click)="isVis(localApplicant.currentApplicant.city)">visibility</i>
          <i *ngIf="localApplicant.currentApplicant.city.hidden" class="material-icons prefix iconcursor"
             (click)="isVis(localApplicant.currentApplicant.city)">visibility_off</i>
        </div>

      </div>
      <div class="col s11">
        <label for="city">City</label>
        <input id="city" type="text" class="validate"
               [(ngModel)]="localApplicant.currentApplicant.city.value" name="city">
      </div>
    </div>
  </div>
</div>

<div class="row">


</div>

<!--Languages-->

<div class="row">
  <div id="languages" class="col s2">
    <i class="material-icons">language</i>
    <label for="languages">Languages:</label>

  </div>

  <div class='col s2 offset-s4'>
    <a class="btn-floating btn-tiny waves-effect waves-light teal lighten-2 " (click)="addLanguage()">
      <i class="material-icons">add</i>
    </a>
  </div>

  <div class="row">
    <div class="col s12" *ngFor="let language of localApplicant.currentApplicant.languages; let langInd=index">

      <app-basic-info-edit-languages

        [language]='language' [lIndex]="langInd"></app-basic-info-edit-languages>
    </div>
  </div>
</div>

<!--Educations-->

<div class="row">
  <div id="educations" class="col s2">
    <i class="material-icons">account_balance</i>
    <label for="educations">Education:</label>
  </div>
  <div class='col s2 offset-s4'>
    <a class="btn-floating btn-tiny waves-effect waves-light teal lighten-2 " (click)="addEducation()">
      <i class="material-icons">add</i>
    </a>
  </div>
  <div class="row">
    <div class="col s12">
      <app-basic-info-edit-education *ngFor="let Education of localApplicant.currentApplicant.educations; let ind=index"
                                     [EduInd]='ind'></app-basic-info-edit-education>
    </div>
  </div>
</div>

<div *ngIf="localApplicant.currentApplicant.id!=0">
  <div class="file-field input-field">
    <div class="btn">
      <span>File</span>
      <input type="file" (change)="saveCv($event)" accept=".doc, .docx, .pdf, .txt">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" placeholder="Upload CV" name="filetoupload">
    </div>
  </div>


</div>




