<div class="contpicture">
  <img-cropper [image]="data" [settings]="cropperSettings" ></img-cropper><br>

  <img [src]="data.image" class="circle responsive-img"
       [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight" *ngIf="data.image">
  <div class="row">
  <button class="btn" (click)="savephoto()">Upload Photo</button>
  </div>
</div>
