<div class="col s12 m9 l10">
  <form class="form" [formGroup]="employerForm">

    <div class="row">
      <!--Card-->
      <div class="col s12">
        <app-user-approve [user]="employer"></app-user-approve>

        <h4 class="center-align">Employer's profile </h4>
        <br>

          <!--Company Name-->
          <div class="col s10 offset-s1">
            <div class="input-field">
              <i class="material-icons tiny prefix">person</i>
              <input class="form-control validate" formControlName="name"
                     id="name" type="text" placeholder="The Wordlwide Best Co., LLC">
              <label for="name">Company Name:</label>
            </div>
            <br><br>

            <!--Company specializations-->
            <div class="input-field">
              <i class="material-icons tiny prefix">code</i>
              <input class="form-control" formControlName="specializations"
                     id="specializations" type="text" placeholder="What does your company do..">
              <label for="specializations">Company specializations:</label>
            </div>
            <br><br>

            <div class="row">

              <!--Company type-->
              <div class="input-field col s6">
                <i class="material-icons tiny prefix">settings</i>
                <select class="form-control" formControlName="companyType"
                        id="companyType"
                        materialize="material_select" [materializeSelectOptions]="companyTypes">
                  <option *ngFor="let curCompanyType of companyTypes" [value]="curCompanyType.key">{{curCompanyType.name}}</option>
                </select>
                <label for="companyType">Company type:</label>
              </div>

              <!--Region-->
              <div class="input-field col s6">
                <i class="material-icons tiny prefix">place</i>
                <select class="form-control" formControlName="region"
                        id="region"
                        materialize="material_select" [materializeSelectOptions]="regions">
                  <option *ngFor="let curRegion of regions" [value]="curRegion.key">{{curRegion.name}}</option>
                </select>
                <label for="region">Region:</label>
              </div>

            </div>
            <br>

            <div class="row">

              <!--Contact phone-->
              <div class="input-field col s12">
                <i class="material-icons tiny prefix">phone</i>
                <input class="form-control validate" formControlName="phone"
                       id="phone" type="text" placeholder="+972 50 7654321">
                <label for="phone">Contact phone:</label>
              </div>

            </div>

            <br>

          <div class="row">
            <!--Founded-->
            <div class="input-field col s6">
              <i class="material-icons tiny prefix">date_range</i>
              <input class="form-control" formControlName="founded"
                     id="founded" type="number" placeholder="2018">
              <label for="founded">Founded:</label>
            </div>

            <!--Staff-->
            <div class="input-field col s6">
              <i class="material-icons tiny prefix">people</i>
              <input class="form-control" formControlName="staffNumber"
                     id="staffNumber" type="number" placeholder="100">
              <label for="staffNumber">Staff:</label>
            </div>

            </div>

            <br>

            <div class="row">
              <!--Postal address-->
              <div class="input-field col s6">
                <i class="material-icons tiny prefix">contact_mail</i>
                <input class="form-control" formControlName="address"
                       id="address" type="text" placeholder="123, 88 Izhak Rabin, Tel-Aviv, 8765432, Israel">
                <label for="address">Postal address for correspondence:</label>
              </div>

              <!--Contact email-->
              <div class="input-field col s6">
                <i class="material-icons tiny prefix">email</i>
                <input class="form-control validate" formControlName="contactEmail"
                       id="contactEmail" type="email" placeholder="enter@email.here"
                       [class.invalid]="employerForm.controls['contactEmail'].invalid && employerForm.controls['contactEmail'].touched"
                       [class.valid]="!employerForm.controls['contactEmail'].invalid && employerForm.controls['contactEmail'].touched">
                <label for="contactEmail">Contact email:</label>
              </div>
            </div>

            <br>

            <!--web site-->
            <div class="input-field">
              <i class="material-icons tiny prefix">http</i>
              <input class="form-control" formControlName="webSite"
                     id="webSite" type="url" placeholder="www.website.com">
              <label for="webSite">Corporate web site:</label>
            </div>

            <br>

            <div class="row">

              <!--
              <div class="switch">
                <label>
                  Lock
                  <input type="checkbox" [checked]="!isViewOnly" (change)="isViewOnly = !isViewOnly">
                  <span class="lever"></span>
                  Unlock
                </label>
              </div>
              -->

              <!--Submit-->
              <div>
                <button *ngIf="!isViewOnly"
                        class="btn waves-effect right"
                        type="submit"
                        name="submitForm"
                        (click)="submit()">Submit
                  <i class="material-icons right">send</i>
                </button>
              </div>

            </div>

            <br>

          </div>

        </div>

      </div>

  </form>
</div>
