  <div class="slider" materialize="slider" [materializeParams]="[{indicators: false, height: 650}]">
    <ul class="slides">
      <li>
        <img src="../assets/img/home-slider/slide-1.jpeg">
        <div class="caption center-align">
          <h3>Welcome to the "CV Bank"!</h3>
          <h5 class="light grey-text text-lighten-3">CV Bank is a best way to find an applicant</h5>
        </div>
      </li>
      <li>
        <img src="../assets/img/home-slider/slide-2.jpeg">
        <div class="caption center-align">
          <h3>"CV Bank" is reliability!</h3>
          <h5 class="light grey-text text-lighten-3">Only actual CVs</h5>
        </div>
      </li>
      <li>
        <img src="../assets/img/home-slider/slide-3.jpeg">
        <div class="caption left-align">
          <h3>"CV Bank" is accuracy!</h3>
          <h5 class="light grey-text text-lighten-3">Find what you want</h5>
        </div>
      </li>
      <li>
        <img src="../assets/img/home-slider/slide-4.jpeg">
        <div class="caption right-align">
          <h3>"CV Bank" is privacy!</h3>
          <h5 class="light grey-text text-lighten-3">Hideable fields in CV</h5>
        </div>
      </li>
    </ul>
  </div>
  <button class="waves-effect waves-light btn-large btn-cv center" (click)="resume()">Create CV</button>
