<h5>Congratulations !!</h5>
<p>You filled all the forms and can download your nice CV</p>
<div class="row input-field">
<select  class="col s3" [(ngModel)]="template" materialize="material_select" [materializeSelectOptions]="cvTamplates">
  <option *ngFor="let templ of cvTamplates" [ngValue]="templ.address">{{templ.name}}</option>
</select>
</div>
<button class="btn green" (click)="downloadCVTemplate()"><i class="material-icons">file_download</i> </button>
<p *ngIf="newApplicant"> Or register in our system and get your CV seen by a <b>{{numberOfCompanies}}</b> companies out there</p>
