<div class="row" *ngIf="!editState">
  <div class="col s3" type="text">{{localApplicant.currentApplicant.skills[skillInd].skill.name}}</div>

  <label class = 'col s3'>{{'years of experience'}}</label>
  <div class="col s1 ">{{localApplicant.currentApplicant.skills[skillInd].experience}}</div>

  <div class='col s1 offset-s1' *ngIf="localApplicant.isEditable">
    <a class="btn-floating btn-small waves-effect waves-light teal lighten-2" (click)="editSkill(ind)">
      <i class="material-icons">edit</i>
    </a>
  </div>

  <div class='col s1 offset-s1' *ngIf="localApplicant.isEditable">
    <a class="btn-floating btn-small waves-effect waves-light red" (click)="deleteSkill()">
      <i class="material-icons">delete</i>
    </a>
  </div>
</div>

<!--editing a skill block-->
<app-skill-edit *ngIf="editState" (editEmitter)="changeEditState()"
                [selectedSkill] = 'localApplicant.currentApplicant.skills[skillInd]'
                [skillInd]="skillInd">

</app-skill-edit>

