<div class="row">
  <b class="left-align col s3">Company Name </b>
  <b class="col s3 ">Position*</b>
  <button class="btn col s3" *ngIf="currentUser.user!==undefined" (click)="changevisibility()">
    <div *ngIf="localApplicant.currentApplicant.projects[i].company.hidden"><i
      class="material-icons">visibility_off</i>show
    </div>
    <div *ngIf="!localApplicant.currentApplicant.projects[i].company.hidden">
      <i class="material-icons"
         *ngIf="!localApplicant.currentApplicant.projects[i].company.hidden">visibility</i>hide
    </div>
  </button>
</div>

<div class="row">
  <div class="input-field col s3">
    <input placeholder="company name" type="text" [(ngModel)]="localProject.company.value">
  </div>
  <div class="input-field col s3">
    <input placeholder="position in company" type="text" required [(ngModel)]="localProject.title">
  </div>
</div>


<div class="row">
  <div class="col s4"> <b>Working period*</b></div>
</div>
<input placeholder="working period" type="text" required [(ngModel)]="localProject.dates">
<div>
  <b>Job description*</b>
</div>
<textarea placeholder="job description" required class="materialize-textarea col s12"
          [(ngModel)]="localProject.description"></textarea>

