
  <app-dop-info-view *ngIf="!localApplicant.isEditable" ></app-dop-info-view>
  <app-dop-info-edit *ngIf="localApplicant.isEditable" ></app-dop-info-edit>

<!--

<div class="row" *ngIf="localApplicant.isEditable" >
  <div class="col s2 offset-s5">
    <a class="btn" (click)="edit()" *ngIf="view">EDIT</a>
    <a class="btn" (click)="edit()" *ngIf="!view">SAVE</a>
  </div>
</div>
-->
