<div>

  <h2>{{dashboardService.currentItem.legend | uppercase}} Details</h2>
  <div><span> id: </span> {{dashboardService.currentItem.id}}</div>
  <div><span> legend: </span> {{dashboardService.currentItem.legend}}</div>
  <div><span> icon: </span> {{dashboardService.currentItem.iconName}}</div>
  <div><span> request: </span> {{dashboardService.currentItem.details}}</div>

</div>
