<div class="row">
  <div class="col s6">
    <div type="text"><b> Salary : </b></div>
  </div>
  <div class="col s3">
    <div type="text"> from {{localApplicant.currentApplicant.minSalaryExpectation}}</div>
  </div>
  <div class="col s3">
    <div type="text"> to {{localApplicant.currentApplicant.maxSalaryExpectation}}</div>
  </div>
</div>

<div class="row" [ngClass]="{'notVisibleStyle': localApplicant.currentApplicant.citizenship.hidden}">
  <div class="col s6">
    <div type="text"><b> Citizenship : </b></div>
  </div>
  <div class="col s6">
    <div type="text">{{localApplicant.currentApplicant.citizenship.value}}</div>
  </div>
</div>

<div class="row">
  <div class="col s6">
    <div type="text"><b> Available after days : </b></div>
  </div>
  <div class="col s6">
    <div type="text">{{localApplicant.currentApplicant.availableAfterDays}}</div>
  </div>
</div>

<div class="row">
  <div class="col s6">
    <div type="text"><b> Other info : </b></div>
  </div>
  <div class="col s6">
    <div type="text">{{localApplicant.currentApplicant.otherInfo}}</div>
  </div>
</div>

<div class="row">
  <div class="col s6">
    <div type="text"><b> Professional area : </b></div>
  </div>
  <div class="col s6 row">

  <div *ngFor="let area of localApplicant.currentApplicant.professionalAreas" class="col s6 collection">
    <div class="collection-item col s6" >
      {{profArea[area]}}
    </div>
  </div>
  </div>
</div>

<div class="row">
  <div class="col s6">
    <div type="text"><b> Acceptable company types : </b></div>
  </div>
  <div class="col s6 row">
  <div *ngFor="let arrAccep of localApplicant.currentApplicant.acceptableCompanyTypes" class="col s6 collection">
    <div class="collection-item">
      {{companyType[arrAccep]}}
    </div>
  </div>
  </div>
</div>

<div class="row">
  <div class="col s6">
    <div type="text"><b> Regions of interest : </b></div>
  </div>
  <div class="col s6 row">

  <div *ngFor="let region of localApplicant.currentApplicant.regionsOfInterest" class="col s6 collection">
    <div class="collection-item col s3">
      {{regions[region]}}
    </div>
  </div>
  </div>
</div>


