<body>
  <header>
    <app-navbar></app-navbar>
  </header>
  <main>
    <div class="row">
      <router-outlet name="~"></router-outlet>
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer class="page-footer teal accent-4">
    <app-footer></app-footer>
  </footer>
</body>
