<div class="row">
  <div class="input-field col s12" id="salary">
    <label for="salary">Salary</label>
  </div>
</div>
<div class="input-field col s6">from
  <input id="salarymin" type="number" class="validate"
         [(ngModel)]="applicant.minSalaryExpectation" name="smin">
</div>
<div class="input-field col s6">to
  <input id="salarymax" type="number" class="validate"
         [(ngModel)]="applicant.maxSalaryExpectation" name="smax">
</div>

<div class="row">
  <div class="input-field col s6">
    <label for="avalafterdays">Available after days</label>
  </div>
  <div class="input-field col s6">
    <i *ngIf="!applicant.citizenship.hidden" class="material-icons prefix iconcursor"
       (click)="isVis(applicant.citizenship)">visibility</i>
    <i *ngIf="applicant.citizenship.hidden" class="material-icons prefix iconcursor"
       (click)="isVis(applicant.citizenship)">visibility_off</i>
    <label for="citiz">Citizenship</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s6">
    <input id="avalafterdays" type="number" class="validate"
           [(ngModel)]="applicant.availableAfterDays" name="avail">
  </div>
  <div class="input-field col s6">
    <input id="citiz" type="text" class="validate"
           [(ngModel)]="applicant.citizenship.value" name="citiz">
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <label for="other">Other info</label>
  </div>
</div>
<input id="other" type="text" class="validate"
       [(ngModel)]="applicant.otherInfo" name="other">

<div class="row">

  <p class="col s12">Acceptable company types</p>
  <div *ngFor="let cType of companyTypes" class="col s3">
    <input [id]="makeId(cType.id,'cType')" type="checkbox" [ngModel]="cType.isChecked"
           (ngModelChange)="onSelect(cType,localApplicant.currentApplicant.acceptableCompanyTypes)">
    <label [for]="makeId(cType.id,'cType')"> {{cType.name}}</label>
  </div>

  <br>
  <p class="col s12">Regions of interest</p>
  <div *ngFor="let region of regionsInterest" class="col s3">
    <input [id]="makeId(region.id,'region')" type="checkbox" [ngModel]="region.isChecked"
           (ngModelChange)="onSelect(region,localApplicant.currentApplicant.regionsOfInterest)">
    <label [for]="makeId(region.id,'region')"> {{region.name}}</label>
  </div>
  <br>
  <p class="col s12">Professional areas</p>
    <div *ngFor="let pArea of profAreas" class="col s3">
      <input [id]="makeId(pArea.id,'pArea')" type="checkbox" [ngModel]="pArea.isChecked"
             (ngModelChange)="onSelect(pArea,localApplicant.currentApplicant.professionalAreas)">
      <label [for]="makeId(pArea.id,'pArea')"> {{pArea.name}}</label>
    </div>
</div>
