<div class="container section">
  <div class="container" [ngClass]="{'wait':inprogress}">
    <form class="form" [formGroup]="loginForm" novalidate>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="email" class="form-control"
                 [class.invalid]="loginForm.controls['email'].invalid &&
                  (loginForm.controls['email'].value)"
                 [class.valid]="!loginForm.controls['email'].invalid &&
                 (loginForm.controls['email'].value)"
                 type="email" formControlName="email">
          <label for="email" data-error="" data-success="" class="">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          <input id="password" class="form-control"
                 [class.invalid]="(loginForm.controls['password'].hasError('minlength')||loginForm.controls['password'].hasError('maxlength'))&&
                  (loginForm.controls['password'].value)"
                 [class.valid]="!(loginForm.controls['password'].hasError('minlength')||loginForm.controls['password'].hasError('maxlength'))&&
                  (loginForm.controls['password'].value)"
                 type="password" formControlName="password">
          <label for="password" data-error="" data-success="" class="">Password</label>
        </div>
      </div>
      <div class="row">
        <button class="waves-effect waves-light btn-large right" (click)="login()" [disabled]="loginForm.invalid || inprogress">Sign In</button>
      </div>
      <p>
        <input type="checkbox" class="filled-in" id="remember" formControlName="remember" materialize="updateTextFields" (change)="remChange()"/>
        <label for="remember">Remember me</label>
      </p>
      <div class="row"><p>{{this.textError}}</div>
    </form>
  </div>
</div>
