<div class="row">

  <div class="col s12 m6">
    <label for="first_name">First Name</label>
    <input id="first_name" type="text" class="validate"
           [(ngModel)]="localApplicant.currentApplicant.firstName.value" name="f">
  </div>

  <div class="col s12 m6">
    <label for="last_name">Last Name</label>
    <input id="last_name" type="text" class="validate"
           [(ngModel)]="localApplicant.currentApplicant.lastName.value" name="l">
  </div>

  <div class="col s12 m6">
    <label for="title">Title</label>
    <input id="title" type="text" class="validate"
           [(ngModel)]="localApplicant.currentApplicant.title" name="t">
  </div>

  <div class="col s12 m6">
    <label for="contemail">Contact email</label>
    <input id="contemail" type="text" class="validate"
           [(ngModel)]="localApplicant.currentApplicant.contactEmail" name="ce">
  </div>

  <div class="col s12 m6">
    <label for="telephon">Telephone</label>
    <input id="telephon" type="tel" class="validate"
           [(ngModel)]="localApplicant.currentApplicant.phone.value" name="p">
  </div>

  <div class="col s12 m6">
    <label for="birtday">Birthday</label>
    <input type="text" [ngModel]="birth_date_format" class="datep" name="datepicker" id="birtday"
           materialize="pickadate" [materializeParams]="[{format:'yyyy-mm-dd', selectYears: 100}]"
           (ngModelChange)="changeBirth($event)"/>
  </div>

  <div class="col s12 m6">
    <label for="city">City</label>
    <input id="city" type="text" class="validate"
           [(ngModel)]="localApplicant.currentApplicant.city.value" name="city">
  </div>

  <div class="col s12 m6 ">

    <div class="col s12 m6 offset-sl">
      <p>
        <input name="gender" type="radio" id="male" [checked]="localApplicant.currentApplicant.gender.value"
               (click)="chGender(true)"/>
        <label for="male">Male</label>
      </p>
    </div>

    <div class="col s12 m6">
      <p>
        <input name="gender" type="radio" id="female" [checked]="!localApplicant.currentApplicant.gender.value"
               (click)="chGender(false)"/>
        <label for="female">Female</label>
      </p>
    </div>

  </div>
</div>

<!--Languages-->

<div class="row">
  <div id="languages" class="col s2">
    <i class="material-icons">language</i>
    <label for="languages">Languages:</label>

  </div>

  <div class='col s2 offset-s4'>
    <a class="btn-floating btn-tiny waves-effect waves-light teal lighten-2 " (click)="addLanguage()">
      <i class="material-icons">add</i>
    </a>
  </div>

  <div class="row">
    <div class="col s12" *ngFor="let language of localApplicant.currentApplicant.languages; let langInd=index">

      <app-basic-info-edit-languages

        [language]='language' [lIndex]="langInd"></app-basic-info-edit-languages>
    </div>
  </div>
</div>

<!--Educations-->

<div class="row">
  <div id="educations" class="col s2">
    <i class="material-icons">account_balance</i>
    <label for="educations">Education:</label>
  </div>
  <div class='col s2 offset-s4'>
    <a class="btn-floating btn-tiny waves-effect waves-light teal lighten-2 " (click)="addEducation()">
      <i class="material-icons">add</i>
    </a>
  </div>
  <div class="row">
    <div class="col s12">
      <app-basic-info-edit-education *ngFor="let Education of localApplicant.currentApplicant.educations; let ind=index"
                                     [EduInd]='ind'></app-basic-info-edit-education>
    </div>
  </div>
</div>

<div *ngIf="localApplicant.currentApplicant.id!=0">
  <div class="file-field input-field">
    <div class="btn">
      <span>File</span>
      <input type="file" (change)="saveCv($event)" accept=".doc, .docx, .pdf">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" placeholder="Upload CV" name="filetoupload">
    </div>
  </div>


</div>




