<div class="info">
<div class="preloader-wrapper small active" *ngIf="localApplicant.savingState">
  <div class="spinner-layer spinner-green-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
    <div class="circle"></div>
  </div><div class="circle-clipper right">
    <div class="circle"></div>
  </div>
  </div>
</div>

<i class="material-icons green" *ngIf="!localApplicant.savingError">check</i>
<i class="material-icons red" *ngIf="localApplicant.savingError">clear</i>
<div *ngIf="localApplicant.savingError"> Saving error {{localApplicant.savingError}}</div>
</div>
