<div class="row section" *ngIf="localApplicant.currentApplicant.id">
  <app-btn-back class="left"></app-btn-back>
  <div  class="col s2 offset-s7 btn" (click)="download()"> download CV</div>
  <div class="col s1" >
    <app-user-approve [user]="localApplicant.currentApplicant"></app-user-approve>
  </div>
</div>

  <app-applicant-basic-info-view *ngIf="!localApplicant.isEditable"></app-applicant-basic-info-view>
  <app-applicant-basic-info-edit *ngIf="localApplicant.isEditable"></app-applicant-basic-info-edit>
