<div class="col s12 m4 l3">
  <div class="section">
    <form>
    <div class="row">
      <div *ngIf="listSearchService.settings.showSkills" class="col s12">
        <app-search-skills></app-search-skills>
      </div>
      <div *ngFor="let field of listSearchService.fields; let i = index">
        <div class="input-field col s12">
          <!-- Single value -->
          <div *ngIf="field.isSingleField">
            <input placeholder=""
                   id={{field.id}}
                   type={{field.htmlType}}
                   class="validate"
                   [(ngModel)]="field.value"
                   [ngModelOptions]="{standalone: true}">
            <label for={{field.id}}>{{field.settings.title}}</label>
          </div>
          <!-- Numeric Range -->
          <div class="row" *ngIf="field.isNumericRange">
            <div class="input-field col s6">
              <input placeholder=""
                     id={{field.idMin}}
                     type="number"
                     class="validate"
                     [(ngModel)]="field.value.min"
                     [ngModelOptions]="{standalone: true}">
              <label for={{field.idMin}}>{{field.titleMin}}</label>
            </div>
            <div class="input-field col s6">
              <input placeholder=""
                     id={{field.idMax}}
                     type="number"
                     class="validate"
                     [(ngModel)]="field.value.max"
                     [ngModelOptions]="{standalone: true}">
              <label for={{field.idMin}}>{{field.titleMax}}</label>
            </div>
          </div>
          <!-- Select -->
          <div *ngIf="field.isSelect">
            <select
              materialize="material_select"
              id={{field.idSelect}}
              class="validate"
              [(ngModel)]="field.value"
              [ngModelOptions]="{standalone: true}">
              >
              <option value={{undefined}}></option>
              <option *ngFor="let option of field.settings.options;" value={{option.id}}>{{option.name}}</option>
            </select>
            <label for={{field.idSelect}}>{{field.settings.title}}</label>
          </div>
          <!-- Select Multiple-->
          <div *ngIf="field.isMultiple">
            <select multiple
                    materialize="material_select"
                    id={{field.idMultiple}}
                    class="validate"
                    [(ngModel)]="field.value"
                    [ngModelOptions]="{standalone: true}">
              >
              <option value={{undefined}}></option>
              <option *ngFor="let option of field.settings.options;" value={{option.id}}>{{option.name}}</option>
            </select>
            <label for={{field.idMultiple}}>{{field.settings.title}}</label>
          </div>
        </div>
  <!--
        <div class="col s1" *ngIf="field.value != undefined">
          <a class="btn-small waves-effect waves-light"
             (click)="clearField(i)">
            <i class="small material-icons">delete</i>
          </a>
        </div>
  -->
      </div>
    </div>
    <div class="row">
      <a class="waves-effect waves-light btn btn-large col s12" (click)="onSend()">
        <i class="material-icons">search</i>
        {{listSearchService.settings.applyButtonText}}
      </a>
    </div>
  </form>
  </div>
</div>
