<div class="container">
  <app-applicant-basic-info></app-applicant-basic-info>
  <app-applicant-dop-info></app-applicant-dop-info>
  <app-skill-setup></app-skill-setup>
  <app-applicant-project-setup></app-applicant-project-setup>
</div>

