.notVisibleStyle{
  color: #7d7d7d;
}
.isAprove::before {
  content: 'Approved';
  text-align: center;
  color: green;
}
.isNotAprove::before {
  content: 'Not Approved';
  text-align: center;
  color: red;
}



