
<div class="row">
  <div class="col s6">
    <div class="row" [ngClass]="{'notVisibleStyle': localApplicant.currentApplicant.firstName.hidden}">
      <div class="col s6">
        <div type="text"><b> First name : </b></div>
      </div>
      <div class="col s6">
        <div type="text"> {{localApplicant.currentApplicant.firstName.value}}</div>
      </div>
    </div>

    <div class="row" [ngClass]="{'notVisibleStyle': localApplicant.currentApplicant.lastName.hidden}">
      <div class="col s6">
        <div type="text"><b> Last name : </b></div>
      </div>
      <div class="col s6">
        <div type="text"> {{localApplicant.currentApplicant.lastName.value}}</div>
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <div type="text"><b> Title : </b></div>
      </div>
      <div class="col s6">
        <div type="text"> {{localApplicant.currentApplicant.title}}</div>
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <div type="text"><b> Contact email : </b></div>
      </div>
      <div class="col s6">
        <div type="text"> {{localApplicant.currentApplicant.contactEmail}}</div>
      </div>
    </div>

    <div class="row" [ngClass]="{'notVisibleStyle': localApplicant.currentApplicant.phone.hidden}">
      <div class="col s6">
        <div type="text"><b> Telephone : </b></div>
      </div>
      <div class="col s6">
        <div type="text"> {{localApplicant.currentApplicant.phone.value}}</div>
      </div>
    </div>

    <div class="row" [ngClass]="{'notVisibleStyle': localApplicant.currentApplicant.gender.hidden}">
      <div class="col s6">
        <div type="text"><b> Gender : </b></div>
      </div>
      <div class="col s6">
        <div *ngIf="localApplicant.currentApplicant.gender.value" type="text"> Male</div>
        <div *ngIf="!localApplicant.currentApplicant.gender.value" type="text"> Female</div>
      </div>
    </div>

    <div class="row" [ngClass]="{'notVisibleStyle': localApplicant.currentApplicant.birthday.hidden}">
      <div class="col s6">
        <div type="text"><b> Birthday : </b></div>
      </div>
      <div class="col s6">
        <div type="text"> {{birth_date_fun(localApplicant.currentApplicant.birthday.value)}}</div>
      </div>
    </div>

    <div class="row" [ngClass]="{'notVisibleStyle': localApplicant.currentApplicant.city.hidden}">
      <div class="col s6">
        <div type="text"><b> City : </b></div>
      </div>
      <div class="col s6">
        <div type="text"> {{localApplicant.currentApplicant.city.value}}</div>
      </div>
    </div>
  </div>

  <div class="col s6">
    <div class="col s1"></div>

          <img src={{localApplicant.currentApplicant.imageUrl}} alt="" class="circle responsive-img">

    <div class="col s1"></div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div type="text"><b> Languages : </b></div>
  </div>
  <div class="col s12 collection" *ngFor="let language of localApplicant.currentApplicant.languages">
    <div  class="collection-item" >
      {{language.language}} Level: {{languageLevels[language.level-1].name}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div type="text"><b> Educations : </b></div>
  </div>
  <div class="col s12 collection" *ngFor="let education of localApplicant.currentApplicant.educations" >
    <div class="collection-item">Dates: {{education.dates}}
      University: {{education.university}} Description: {{education.description}}
    </div>
  </div>
</div>

