<h5>Disposable skills</h5>
<div class="row" *ngIf="localApplicant.isEditable">

  <p class="col s6 offset s1 blue-text"
     *ngIf="localApplicant.currentApplicant.verificationStatus === profileStatus.approved">
    Your skills have been successfully approved. Changing them will discard skills approval. </p>

  <a class=" btn-flat col s3" (click)="addSkill()">+ Add a skill</a>

</div>

<div class="collection">
  <div class="collection-item"
       *ngFor="let applSkill of localApplicant.currentApplicant.skills; let ind = index"
       [ngClass]="(applSkill.modifiedAt>0 && applSkill.modifiedAt<=localApplicant.currentApplicant.verificationDate)?'':'skillUnapproved'"
       [title]="(applSkill.modifiedAt>0 && applSkill.modifiedAt<=localApplicant.currentApplicant.verificationDate)?'This skill is approved':'This skill is not approved yet'">

    <app-skill-display [applSkill]='applSkill' [skillInd]='ind'></app-skill-display>

  </div>
</div>




