<div class="col s12 m9 l10">
  <div class="row section">
    <div *ngFor="let dashboardItem of dashboardItems">
      <app-dashboard-item *ngIf="dashboardItem.response!==''" [params]="dashboardItem"></app-dashboard-item>
    </div>
  </div>
</div>
