<div class="row" >
  <div class="input-field col s4">
    <input type="text" class="validate"
           [(ngModel)]="educationRecord.description" name="descr" placeholder="description">
  </div>
  <div class="input-field col s3">
    <input type="text" class="validate"
           [(ngModel)]="educationRecord.university" name="univer" placeholder="university">
  </div>
  <div class="input-field col s3">
    <input type="text" class="validate"
           [(ngModel)]="educationRecord.dates" name="dates" placeholder="dates">
  </div>
  <div class='col s2'>
    <a class="btn-floating btn-tiny waves-effect waves-light red mini" (click)="deleteEducation()">
      <i class="material-icons">delete</i>
    </a>
  </div>
</div>

