<div class="col s12 m9 l10">
  <app-synchronization-indication></app-synchronization-indication>
  <div class="container">
    <div class="row">
      <div class="col s2 clicable" [ngClass]="{chosen:profileState==0}" (click)="setState(0)"><h6 class="center-align">basic
        info</h6></div>
      <div class="col s2 clicable" [ngClass]="{chosen:profileState==1}" (click)="setState(1)"><h6 class="center-align">additional
        info</h6></div>
      <div class="col s2 clicable" [ngClass]="{chosen:profileState==2}" (click)="setState(2)"><h6 class="center-align">skills
        info</h6></div>
      <div class="col s2 clicable" [ngClass]="{chosen:profileState==3}" (click)="setState(3)"><h6 class="center-align">work
        places </h6></div>
      <button class="btn valign-wrapper col s2" (click)="save()" [disabled]="saving"> save
      </button>
    </div>
  
    <div [ngSwitch]="profileState">
      <app-applicant-basic-info *ngSwitchCase='0'></app-applicant-basic-info>
      <app-applicant-dop-info *ngSwitchCase="1"></app-applicant-dop-info>
      <app-skill-setup *ngSwitchCase="2"></app-skill-setup>
      <app-applicant-project-setup *ngSwitchCase="3">
      </app-applicant-project-setup>
    </div>
  </div>
</div>
